@CHARSET "UTF-8";

.main{

	width: 100%;
	height: 1200px;
	background-color: #FF312F;
}
.main1{
	vertical-align : top;
	display : inline-block;
	width: 50%;
	height: 100%;
	background-color: #0F00FF;
}
.left{
	display : inline-block;
	width: 24%;
	height: 100%;
	background-color: #AF12FF;
}

.right{
	display : inline-block;
	width: 24%;
	height: 100%;
	background-color: #0FAC12;
}

.login{
	display :  block;
	width:100%;
	height : 70px;
	background-color: #123C12;
	padding-top: 10px;
	padding-bottom: 10px;
}
.menubar{
	display : block;
	width:100%;
	height : 90px;
	background-color: #123456;
	padding-top: 10px;
	padding-bottom: 10px;
}
.content{
	display :  block;
	width:100%;
	height : 1000px;
	background-color: #456782;
}




.loginNull{
	display:inline-block;
	width:44%;
	height: 100%;
	
}
.loginAccess{
	vertical-align : top;	
	min-width : 510px;
	display:inline-block;
	width:54%;
	height: 100%;
	background-color: #456782;
}





.login1{
	vertical-align : top;
	min-width : 150px;
	display:inline-block;
	width:30%;
	height: 100%;
	background-color: #45ABC2;
}
.login2{
	vertical-align : top;
	min-width : 150px;
	display:inline-block;
	width:30%;
	height: 100%;
	background-color: #999782;
}
.login3{
	vertical-align : top;
	min-width : 60px;
	display:inline-block;
	width:16%;
	height: 100%;
	background-color: #456999;
}
.login4{
	vertical-align : top;
	min-width :60px;
	display:inline-block;
	width:16%;
	height: 100%;
	background-color: #451111;
}









.login1 input[type="text"]{
	margin-top:20px;
	width:80%;

}
.login2 input[type="password"]{
	margin-top:20px;
	width:80%;

}

.loginBtn{
	margin-top:20px;
	width:70px;
	height: 25px;
	background-color: #FFFFFF;

}
.memberLogiBtn{
	margin-top:20px;
	width:70px;
	height: 25px;
	background-color: #FFFFFF;

}
/*loginAccess  */




.loginCut{
	vertical-align : top;	
	display:inline-block;
	width:54%;
	height: 100%;
	background-color: #412322;
}

.login1_1{
	vertical-align : top;
	display:inline-block;
	width:50%;
	height: 100%;
	background-color: #45ABC2;
}
.login2_1{
	vertical-align : top;
	display:inline-block;
	width:14%;
	height: 100%;
	background-color: #999782;
}
.login3_1{
	vertical-align : top;
	display:inline-block;
	width:14%;
	height: 100%;
	background-color: #456999;
}
.login4_1{
	vertical-align : top;
	display:inline-block;
	width:14%;
	height: 100%;
	background-color: #451111;
} 



.memberInfo{
	margin-top:10px;
	width:80%;

}
.logout{
	margin-top:10px;
	width:70px;
	height: 25px;
	background-color: #FFFFFF;

}

.mypage{
	margin-top:10px;
	width:70px;
	height: 25px;
	background-color: #FFFFFF;

}
.basket{
	margin-top:10px;
	width:70px;
	height: 25px;
	background-color: #FFFFFF;

}
/*loginCut  */


.logo{
	display: inline-block;
	width:20%;
	height: 100%;
	background-color: #451111;
}

.menuall{
	vertical-align : top;
	display: inline-block;
	width:78%;
	height: 100%;
	background-color: #451111;
}





.auctionBoard{
	vertical-align : top;
	display: inline-block;
	width:19%;
	height: 100%;
	background-color: #333333;
}
.auctionBoard_1{
	vertical-align : top;
	display: inline-block;
	width:19%;
	height: 425px;
	background-color: #333333;

}
.tradeBoard{
	vertical-align : top;
	display: inline-block;
	width:19%;
	height: 100%;
	background-color: #444444;
}
.tradeBoard_1{
	vertical-align : top;
	display: inline-block;
	width:19%;
	height : 425px;
	background-color: #444444;
}
.reportBoard{
	vertical-align : top;
	display: inline-block;
	width:19%;
	height: 100%;
	background-color: #123111;
}
.customerBoard{
	vertical-align : top;
	display: inline-block;
	width:19%;
	height: 100%;
	background-color: #459811;
}
.freeBoard{
	vertical-align : top;
	display: inline-block;
	width:19%;
	height: 100%;
	background-color: #459991;
}



					
.home{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.elec{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.cloth{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.watch{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.cosmetic{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.travel{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.furni{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.book{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.etc{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}



.home_1{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.elec_1{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.cloth_1{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.watch_1{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.cosmetic_1{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.travel_1{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.furni_1{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.book_1{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}
.etc_1{
	display: block;
	margin-top: 5px;
	height:40px;
	background-color: #409991;
}




.ad {
	margin-top : 280px;
	margin-left : 20px;
	display :block;
	width: 150px;
	height: 550px;
	background-color: #FFAACC;
}
