@CHARSET "UTF-8";

.main{
   width: 100%;
   height: 1200px;
   background-color: #FFFFFF;
}
.main1{
   vertical-align : top;
   display : inline-block;
   width: 60%;
   height: 100%;
}
.left{
   display : inline-block;
   width: 19%;
   height: 100%;
   background-color: #FFFFFF;
}

.right{
   display : inline-block;
   width: 19%;
   height: 100%;
   background-color: #FFFFFF;
}

.login{
   display :  block;
   width:100%;
   height : 70px;
   background-color: #FFFFFF;
   padding-top: 10px;
   padding-bottom: 10px;
}
.menubar{
   display : block;
   width:100%;
   height : 150px;
   background-color: #FFFFFF;
   padding-top: 10px;
   padding-bottom: 10px;
}
.content{
   display :  block;
   width:100%;
   height : 1250px;
   /* background-color: #B2FFD1; */
   background-color: #FFFFFF;
   border: 1px;
}
.content2{
   display :  block;
   width:100%;
   height : 1000px;
   background-color: #E1E1E1;
}
.content10{
   display :  block;
   width:100%;
   height : 1000px;
   background-color: #FFFFFF;
   /* background-color: #B2FFD1; */
   border: 1px;
}

.loginNull{
   display:inline-block;
   width:44%;
   height: 100%;
   
}
.loginAccess{
   vertical-align : top;   
   min-width : 510px;
   display:inline-block;
   width:54%;
   height: 100%;
   background-color: #FFFFFF;
}





.login1{
   vertical-align : top;
   min-width : 150px;
   display:inline-block;
   width:30%;
   height: 100%;
   background-color: #FFFFFF;
}
.login2{
   vertical-align : top;
   min-width : 150px;
   display:inline-block;
   width:30%;
   height: 100%;
   background-color: #FFFFFF;
}
.login3{
   vertical-align : top;
   min-width : 60px;
   display:inline-block;
   width:16%;
   height: 100%;
   background-color: #FFFFFF;
}
.login4{
   vertical-align : top;
   min-width :60px;
   display:inline-block;
   width:16%;
   height: 100%;
   background-color: #FFFFFF;
}









.login1 input[type="text"]{
   margin-top:20px;
   width:80%;

}
.login2 input[type="password"]{
   margin-top:20px;
   width:80%;

}

.loginBtn{
   margin-top:10px;
   margin-left:10px;
   width: 70px;
   height: 25px;
   background-color: #FFFFFF;

}
.memberLogiBtn{
   margin-top:10px;
   margin-left:10px;
   width:70px;
   height: 25px;
   background-color: #FFFFFF;

}
/*loginAccess  */




.loginCut{
   vertical-align : top;   
   display:inline-block;
   width:54%;
   height: 100%;
   background-color: #FFFFFF;
}

.login1_1{
   vertical-align : top;
   display:inline-block;
   width:50%;
   height: 100%;
   background-color: #FFFFFF;
}
.login2_1{
   vertical-align : top;
   display:inline-block;
   width:14%;
   height: 100%;
   background-color: #FFFFFF;
}
.login3_1{
   vertical-align : top;
   display:inline-block;
   width:14%;
   height: 100%;
   background-color: #FFFFFF;
}
.login4_1{
   vertical-align : top;
   display:inline-block;
   width:14%;
   height: 100%;
   background-color: #FFFFFF;
} 



.memberInfo{
   margin-top:20px;
   margin-left:100px;
   width:80%;
}
.logout{
   margin-top:10px;
   width:70px;
   height: 25px;
   background-color: #FFFFFF;

}

.mypage{
   margin-top:10px;
   width:70px;
   height: 25px;
   background-color: #FFFFFF;

}
.basket{
   margin-top:10px;
   width:70px;
   height: 25px;
   background-color: #FFFFFF;

}
/*loginCut  */


.logo{
   display: inline-block;
   margin-left: 5pt;
   width:20%;
   height: 100%;
   background-color: #FFFFFF;
}

.menuall{
   vertical-align : top;
   display: inline-block;
   width:78%;
   height: 100%;
   background-color: #FFFFFF;
   margin-left: 5px;
}





.auctionBoard{
	bottom : 0px;
  	display: inline-block;
  	width:19%;
  	height: 100px;
  	background-color: #333333;
}
.auctionBoard_1{
   vertical-align : top;
   display: inline-block;
   width:19%;
   height: 425px;
   background-color: #333333;

}
.tradeBoard{
   vertical-align : top;
   display: inline-block;
   width:19%;
   height: 100px;
   background-color: #444444;
}
.tradeBoard_1{
   vertical-align : top;
   display: inline-block;
   width:19%;
   height : 425px;
   background-color: #444444;
}
.reportBoard{
   vertical-align : top;
   display: inline-block;
   width:19%;
   height: 100px;
   background-color: #123111;
}
.customerBoard{
   vertical-align : top;
   display: inline-block;
   width:19%;
   height: 100px;
   background-color: #459811;
}
.freeBoard{
   vertical-align : top;
   display: inline-block;
   width:19%;
   height: 100px;
   background-color: #459991;
}


.AuctionBoardCategory {
	display: block;
    margin-top: 5px;
    margin-left : 5px;
    height:40px;
    background-color: #B2FFD1;
}
               
.home{
   display: block;
   margin-top: 15px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.elec{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.cloth{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.watch{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.cosmetic{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.travel{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.furni{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.book{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.etc{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}



.home_1{
   display: block;
   margin-top: 15px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.elec_1{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.cloth_1{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.watch_1{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.cosmetic_1{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.travel_1{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.furni_1{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.book_1{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}
.etc_1{
   display: block;
   margin-top: 5px;
   margin-left : 15px;
   height:40px;
   background-color: #B2FFD1;
}




.ad {
   margin-top : 280px;
   margin-left : 20px;
   display :block;
   width: 150px;
   height: 550px;
   background-color: #B2FFD1;
}

.reporttitle{ /* 신고게시판 타이틀  */
   display:inline-block;
   width: 100%;
   height: 3%;
   background-color: #FFFFFF;
   /* border-top: 4px solid black ; */
   /* border-bottom: 4px solid black ; */
}