@CHARSET "UTF-8";

.bar{
	display : inline-block;
	width:100%;
	height:5%;
	background-color: #786512;	
}
.bar1{
	display : inline-block;
	width:30%;
	height:90%;
	background-color : #126578;
}
.bar1_1{
	display : inline-block;
	margin-top :15px;
	margin-left :7px;
	width: 90%;
	height : 10%;
	background-color : #FFFFFF;	
	
}
.bar1_2{
	display : inline-block;
	margin-top :15px;
	margin-left :7px;
	width: 90%;
	height : 10%;
	background-color : #FFFFFF;	
	
}
.bar1_3{
	display : inline-block;
	margin-top :15px;
	margin-left :7px;
	width: 90%;
	height : 10%;
	background-color : #FFFFFF;	
	
}
.bar1_4{
	display : inline-block;
	margin-top :15px;
	margin-left :7px;
	width: 90%;
	height : 10%;
	background-color : #FFFFFF;	
	
}
.bar1_5{
	display : inline-block;
	margin-top :15px;
	margin-left :7px;
	width: 90%;
	height : 10%;
	background-color : #FFFFFF;	
	
}
.bar2{
	display : inline-block;
	width:98%;
	height:4%;
	background-color : #999999;
	vertical-align : top;
	margin-top : 10px;
}
.bar2_1{
	display : inline-block;
	width:98%;
	height : 30%;
	vertical-align : top;
	margin-top : 10px;
	background-color : #FFFFFF;
}
.qnabar{
	display : inline-block;
	width:98%;
	height: 45%;
	vertical-align : top;
	margin-top : 10px;
	background-color : #FFFFFF;
}

.barBtn{
	display : inline-block;
	width: 20%;
	height : 3%;
	vertical-align : top;
	margin-left : 350px;
	margin-top : 10px;
	background-color : #009FFF;
}
.barQ{
	display : inline-block;
	width: 98%;
	height : 4%;
	vertical-align : top;
	margin-top : 20px;
	background-color : #999999;
}
.barQ_1{
	display : inline-block;
	width:98%;
	height : 20%;
	vertical-align : top;
	margin-top : 10px;
	background-color : #FFFFFF;
}
.content2{
	display :inline-block;
	vertical-align : top;
	width:68%;
	height : 100%;
}
.CusdetailBtn{
	display :inline-block;
	vertical-align : bottom;

}
.Writebar{
	display : inline-block;
	width:98%;
	height : 16%;
	margin-top : 20px;
	background-color : #FFFFFF;
	vertical-align : top;
}
.category{
	display : inline-block;
	width:50%;
	height : 5%;
	margin-top : 10px;
	background-color : #FF00DD;
}
.category1-1{
	display : inline-block;
}
.title{
	display : inline-block;
	width:50%;
	height : 5%;
	margin-top : 10px;
	background-color : #FF00DD;
}
.Writecontent{
	display : inline-block;
	width:98%;
	height : 30%;
	margin-top : 10px;
	background-color : #FF00DD;
}
.replycontent{
	display : inline-block;
	width:98%;
	height : 15%;
	margin-top : 10px;
	background-color : #FF00DD;
}
.qnabar2{
	display : inline-block;
	width:98%;
	height: 40%;
	vertical-align : top;
	margin-top : 10px;
	background-color : #FFFFFF;
}