@CHARSET "UTF-8";
.AdminMember_1{
	display: inline-block;
	margin-top:3%;
	margin-left:3%;
	height : 8%;
	width:94%;
	background-color: #FFFFFF;
}
.AdminMember_2{
	display: inline-block;
	margin-top:3%;
	margin-left:3%;
	height : 50%;
	width:94%;
	z-index: 2;
	background-color: #FFFFFF;
}
.AdminMember_3{
	display: inline-block;
	margin-top:2%;
	margin-left:3%;
	height : 6%;
	width:94%;
	background-color: #FFFFFF;
}
.AdminMemberpopup_1{
	  display: inline-block;
      width: 450px;
      height: 250px;
      background-color:#5D9657;
      position: absolute;
      z-index: 200;
      top: calc(45% - 50px);
      left: calc(43% - 100px);
      border: 2px solid #003300;
}
.AdminMemberpopup_2{
	display: inline-block;
	margin-top:2%;
	margin-left:5.3%;
	height : 80%;
	width:90%;
	background-color: #FFFFFF;
}
.AdminMemberpopup_3{
	display: inline-block;
	margin-top:2%;
	margin-left:5.3%;
	height : 10%;
	width:90%;
	background-color: #FFFFFF;
}