@CHARSET "UTF-8";

.freetitle{
	margin-top : 30px;
	display: inline-block;
	width:100%;
	height: 50px;
	background-color: #FFFFFF;
}
.freetitle_1{
	margin-top : 10px;
	margin-left : 15px;
	display: inline-block;
	width:20%;
	height: 70%;
	background-color: #FFFFFF;
	vertical-align : top;
	font-size: 30px;
}
.freetitle_2{
	margin-top : 8px;
	margin-left : 88%;
	display: inline-block;
	width:10%;
	height: 70%;
	background-color: #FFFFFF;
} 

.freecontent{
	margin-top : 30px;
	margin-left : 2.5%;
	display: inline-block;
	width:95%;
	height: 50%;
	background-color: #FFFFFF;
}

.freenumber{
	
	margin-left : 2.5%;
	display: inline-block;
	width:95%;
	height: 50px;
	background-color: #FFFFFF;
}
.freenumber_1{
	margin-top : 10px;
	margin-left : 36%;
	display: inline-block;
	width:40%;
	height: 70%;
	background-color: #FFFFFF;
}
.freenumber_2{
	margin-top : 8px;
	margin-left : 11%;
	display: inline-block;
	width:10%;
	height: 70%;
	background-color: #FFFFFF;
}

.freesearch{
	margin-top : 13px;
	margin-left : 2.5%;
	display: inline-block;
	width:95%;
	height: 50px;
	background-color: #FFFFFF;
}
.freesearch_1{
	margin-top : 5px;
	margin-left : 23%;
	display: inline-block;
	width: 7%;
	height: 70%;
	background-color: #FFFFFF;
}
.freesearch_2{
	margin-top : 5px;
	margin-left : 2%;
	display: inline-block;
	width: 30%;
	height: 70%;
	background-color: #FFFFFF;
	vertical-align : top;
}
.freesearch_3{
	margin-top : 5px;
	
	display: inline-block;
	width:13%;
	height: 70%;
	background-color: #FFFFFF;
	vertical-align : top;
}
/* ===========================================자유게시판 글목록 */


.freeboardword_1{
	display: inline-block;
	margin-top : 15px;
	margin-left : 10%;
	width:30%;
	height:3%;
	background-color: #E1E1E1;
}
.freeboardword_2{
	display: inline-block;
	margin-top : 20px;
	margin-left : 10%;
	width: 50%;
	height: 3%;
	background-color: #E1E1E1;
}
.freeboardword_3{
	display: inline-block;
	margin-top : 20px;
	margin-left : 10%;
	width:680px;
	height:500px;
	background-color: #E1E1E1;
}
.freeboardword_4{
	display: inline-block;
	margin-top : 20px;
	margin-left : 10%;
	width:680px;
	height:3%;
	background-color: #E1E1E1;
}
.freeboardword_5{
	display: inline-block;
	margin-top : 20px;
	margin-left : 10%;
	width:680px;
	height:3%;
	background-color: #E1E1E1;
}
.freeboardword_6{
	display: inline-block;
	margin-top : 78px;
	margin-left : 67%;
	width: 5%;
	height:3%;
	background-color: #E1E1E1;
}
.freeboardword_7{
	display: inline-block;
	margin-top : 72px;
	
	width:10%;
	height:3%;
	background-color: #E1E1E1;
}
/* ================================ FreeBoard Add에 관한것들 */


.freeboardContent{
	display: inline-block;
	margin-top : 20px;
	margin-left : 3px;
	width:800px;
	height:900px;
	background-color: #E1E1E1;
}
.freeboardContent_1{
	display: inline-block;
	margin-top : 20px;
	margin-left : 2%;
	margin-bottom : 20px;
	width:150px;
	height:40px;
	background-color: #FCFFFF;
}
.freeboardContent_2{
	display: inline-block;
	margin-left : 2%;
	margin-top : 8px;
	width:300px;
	height:40px;
	background-color: #FFFFFF;
}
.freeboardContent_3{
	display: inline-block;
	margin-left : 2%;
	width:768px;
	height:330px;
	background-color: #FFFFFF;
	word-break:break-all;
	
}
#freeboardContent_3{
	display: inline-block;
	margin-left : 2%;
	width:768px;
	height:330px;
	background-color: #FCFFFF;
	word-break:break-all;
}
.freeboardContent_4{
	display: inline-block;
	margin-top : 30px;
	margin-left : 2%;
	width:768px;
	height:270px;
	background-color: #FCFFFF;
}



